body{
    background-color: #dcdcdc;
}

.glass-container{
    width: 700px;
    height: auto;
    padding-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 145, 60, 0.167);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

#boton{
    width: 50%;
    font-family: 'Acme', sans-serif;
    border-radius: 3px;
}

#button{
    text-align: center;
    margin-bottom: 10%;
}

#text{
    font-family: 'Acme', sans-serif;
}
